div#header
    ul
        li
            a(href="/") Home
        li
            a(href="/artworks") artworks
        li    
            a(href="/logout") logout
        li  
            a(href="/users") users
    
 

