head 
    title Open Gallery Login Page 
body    
    form#signupForm(action='/signup', method='POST', onsubmit='signup(); return false;')
        label(for='username') Username:
        input(type='text', name='username', id='username', required)
        br
        label(for='password') Password:
        input(type='text', name='password', id='password',required)
        br
        button(type='submit', value='Submit') Sign up

        script(src='signup.js')   